 {%extends 'base.html'%}

{%load crispy_forms_tags   %} 
{% load  static %} 

{{title}}


{%block content%}


<link rel="stylesheet" href="https://unpkg.com/purecss@2.0.3/build/pure-min.css" integrity="sha384-cg6SkqEOCV1NbJoCu11+bm0NvBRc8IYLRGXkmNrqUBfTjmMYwNKPWBTIKyw9mHNJ" crossorigin="anonymous"> 



    <style>
        body {
            /* adding a little margin so we can see the borders better */
            margin: 1em;
        }
        .box {
            display: inline-block;
            width: 100px;
            height: 24px;
            background-color: gray;
        }
    </style> 



 <div class="jumbotron">
    <h1> {{searchtitle}} </h1>
  
    <form method='POST' action=''>{% csrf_token %}
		 {{form|crispy}} 
       <input type="submit" value='Search'/>
   
   </form>
 
 
    <br>
    
 <div class="display_table">
 
      <table class="pure-table pure-table-bordered"
        <thead>
          <tr>
            <th>#</th>
            <th>CATEGORY</th> 
            <th>ITEM FATTAL<BR> CODE</th>                    
            <th>ITEM NAME</th>
            <th>QUANTITY IN <br>STORE</th>
            
            <th>ITEM UNIT</th>
             <th>Delete Item</th>
             <th>Description</th>
          </tr>
          
        </thead>
      {% for instance in queryset %}
          <tr>
            
            <td>{{forloop.counter}} </td> 
        
            <td>{{instance.category_name}}</td>
            <td>{{instance.item_fattal_code}}</td>
             {% comment %} <td>{{instance.item_name}}</td> {% endcomment %}
           
            <td><a href="{% url 'update_items' instance.id %}">{{instance.item_name}} </a></td>  
            <td>{{instance.quantity_item}}</td>
            <td>{{instance.item_unit_kind}}</td>
        
            <td><a href="{% url 'delete_items' instance.id %}">DELETE </a></td>  
            <td>{{instance.description}}</td>

          </tr>
      {% endfor %}
    </table>
     </div>
     <br><br>
 




   
{% endblock %}
