{% extends 'base.html'%}
{%load crispy_forms_tags   %}
{% load  static %}

{%block content%}

<!DOCTYPE html>
<html>
<body>



<h1>The select element</h1>

<p>The select element is used to create a drop-down list.</p>

<form>
 

  <label for="cars">Choose a car:</label><p>
  <select multiple name="cars" id="cars" REQUIRED>>
 <p>
{% comment %} 
  {%for i in dic1 %}
    <option value={{ i }}>{{i}}</option>
    
    {% endfor %} {% endcomment %}
     <option value="saab">saab</option>
    <option value="opel">opel</option>
    <option value="audi">audi</option>
  </select>

  <br><br>
{% comment %} 
  <input type="submit" value="Submit">
 
</form>

<form> {% endcomment %}
  <input type="checkbox" id="vehicle1" name="vehicle" value="Bike">
  <label for="vehicle"> I have a bike</label><br>
  <input type="checkbox" id="vehicle2" name="vehicle" value="Car">
  <label for="vehicle"> I have a car</label><br>
  <input type="checkbox" id="vehicle3" name="vehicle" value="Boat">
  <label for="vehicle"> I have a boat</label><br><br>



<p>
<INPUT TYPE="Text" id="title"  PLACEHOLDER="Enter your first name" >

<P>
<INPUT TYPE="date" name="date" value="">
  <input type="submit" value="Submit">

</form>


<FORM>
<br>

</FORM>

<p>
<FORM>

<INPUT TYPE="Email" PLACEHOLDER="Enter your email address">

<P>
<INPUT TYPE="Submit" VALUE="Submit">

</FORM>
<h3> zip coddes list </h3>
<INPUT TYPE="Text" LIST="zip_codes">

<DATALIST ID="zip_codes">

<OPTION VALUE="AL" LABEL="ALABAMA">
<OPTION VALUE="AK" LABEL="ALASKA">
<OPTION VALUE="AS" LABEL="AMERICAN SAMOA">
<OPTION VALUE="AZ" LABEL="ARIZONA">
<OPTION VALUE="AR" LABEL="ARKANSAS">
<OPTION VALUE="CA" LABEL="CALIFORNIA">
<OPTION VALUE="CO" LABEL="COLORADO">
<OPTION VALUE="CT" LABEL="CONNECTICUT">

</DATALIST>

<p>
<INPUT TYPE="date" value="">
<INPUT TYPE="Submit" VALUE="Submit">
{% comment %} 
<form>

  <label for="cars">Choose a car:</label>
  <select name="cars" id="cars">
    <option value="volvo">Volvo</option>
    <option value="saab">Saab</option>
    <option value="opel">Opel</option>
    <option value="audi">Audi</option>
  </select>
  <br><br>
  <input type="submit" value="Submit">
  

</form> {% endcomment %}



<p>Click the "Submit" button and the form-data will be sent to a page on the 
server called "action_page.php".</p>

</body>
{% endblock %}
</html>
