* {
    padding: 0;
    margin: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}

#wrapper {
    margin: 0 auto;
    width: 922px;
}

#faux {
    background: url(faux-3-2-col.gif);
    margin-bottom: 10px;
    overflow: auto;
    width: 100%
}

#header {
    color: navy;
    width: 902px;
    padding: 10px;
    height: 100px;
    margin: 0px 0px 0px 0px;
    background: #ABBEBE;
}

#leftcolumn {
    display: inline;
    color: #333;
    margin: 10px;
    padding: 0;
    width: 195px;
    float: left;
}

#rightcolumn {
    float: right;
    color: #333;
    margin: 10px;
    padding: 0;
    width: 683px;
    display: inline;
    position: relative;
}

.clear {
    clear: both;
    background: none;
}